h1 {
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p {
    font-size: 15px;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.log {
    margin-bottom: 3vh;
}

.buttons {
    background-color: cornsilk;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5vh;
    max-width: 300px;
    margin: 0 auto;

}

input[type="text"],
input[type="date"],
button {
    font-size: 1rem;
    padding: 8px;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 18px;
    }

    h1 {
        font-size: 3rem;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
    }

    p {
        font-size: 1.2rem;
    }

    input[type="text"],
    input[type="date"],
    button {
        font-size: 1.2rem;
        padding: 10px;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 20px;
    }

    h1 {
        font-size: 4rem;
    }

    p {
        font-size: 1.4rem;
    }

    input[type="text"],
    input[type="date"],
    button {
        font-size: 1.4rem;
        padding: 12px;
    }

    form {
        max-width: 900px;
        margin: 0 auto;
    }
}