body {
    background-color: cornsilk;
}

.whoWeAre {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(247, 202, 89);
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 30px;
}


h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.brandWeWork {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(247, 202, 89);
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 30px;
}

.brandWeWork>img {
    width: 75vw;
    height: 60vw;
    overflow: hidden;
    border-radius: 1em;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: bisque;
}

/* Tablet */
@media (min-width: 768px) {

    .whoWeAre,
    .brandWeWork {
        margin-left: 10vw;
        margin-right: 10vw;
        font-size: 20px;
    }

    .brandWeWork>img {
        width: 35vw;
        height: 30vw;
    }
}

/* Desktop */
@media (min-width: 1024px) {

    .whoWeAre,
    .brandWeWork {
        margin-left: 30vh;
        margin-right: 30vh;
        font-size: 30px;
    }

    .brandWeWork>img {
        width: 20vw;
        height: 15vw;
    }
}