.header {
    background-color: bisque;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: 3em;
    font-style: italic;
}

li {
    margin: 0 2em;
    font-size: 10px;
}

.image {
    display: flex;
    justify-content: center;

}

img{
    height: 20vh;
    width: 8vw;
}


.tittle {
    text-align: center;
    font-size: 3em;
}