
h1, h2 {
    color: #333;
    text-align: center;
}

section {
    margin-bottom: 20px;
} 


@media (min-width: 480px) {



    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    section {
        margin-bottom: 30px;
    }
}

@media (min-width: 1024px) {


   

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    section {
        margin-bottom: 40px;
    }
}
